.App {
  text-align: center;
  font-color:red;
  background-color: #3BE3E0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button{
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
  background-color: teal; /* Green */
  color: white;
}

.addworkout{
  float: center;
}

.workouts{
  float: left;
}
